{
	"env": {
		"browser": true,
		"es2021": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"semi": [
			"error",
			"never"
		],
		"quotes": [
			2,
			"single",
			"avoid-escape"
		],
		"no-trailing-spaces": [
			2,
			{
				"skipBlankLines": true
			}
		],
		"keyword-spacing": [
			"error",
			{
				"before": true,
				"after": true
			}
		],
		"arrow-spacing": [
			"error",
			{
				"before": true,
				"after": true
			}
		],
		"array-bracket-spacing": [
			"error",
			"never"
		],
		"object-curly-spacing": [
			"error",
			"always"
		],
		"space-in-parens": [
			"error",
			"never"
		],
		"no-unused-vars": "warn"
	}
}